body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h2 {
  margin: 10px;
}

.customer {
  margin: 10px;
  padding: 16px;
  border: 1px solid #e5e5e5;
}

.default-button {
  background: #a7acb3;
  color: #fff;
  font-size: 1em;
  padding: .8em 1.2em;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;
}
.default-button:hover {
  background: #748092;
}
.default-button + * {
  margin-left: 10px;
}

.primary-button {
  background: #357edd;
  color: #fff;
  font-size: 1em;
  padding: .8em 1.2em;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;
}
.primary-button:hover {
  background: #6099e4;
}

.action-panel {
  padding: 16px;
}

.action-footer {
  margin-top: 10px;

}

.columns {
  display: flex;
}
.column {
  flex-grow: 1;
}

.main {
  min-width: 60%;
}
.sidebar {
  min-width: 40%;
}
